.detailContainer {
  padding: 5px 25px;
}

.image {
  min-width: 275px;
  max-width: 275px;
  height: 100%;
  object-fit: cover;
}

.detailBody {
  display: flex;
  padding-bottom: 25px;
}

.breadcrumb {
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.breadcrumbUp {
  color: var(--primary30);
}

.breadcrumbTitle {
  color: var(--mediumGrey);
}

.detailTitle {
  padding: 0 25px 15px;
  font-size: 1.75rem;
  font-weight: 700;
  text-wrap: balance;
}

.detailText {
  display: grid;
  grid-template-columns: 125px auto;
  gap: 10px;
  font-size: 1rem;
  padding: 0 25px;
}
